*{
    box-sizing:border-box;

}
main{
    background: #f3f4f6;
    overflow-y: auto;
    display:flex;
    flex:1;
    flex-grow: 1;
    height:100%;
    margin-left:40px;
}

.main__container{
    padding: 50px 70px 30px 10px ;
    margin-left: 70px;
    display:flex;
    flex-direction:column;
    overflow:auto;
    flex-grow: 1;
    height: 100%;
}

.main__title > img{
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.main__greeting > h1{
    font-size:24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.main__greeting > p{
    font-size:14px;
    font-weight: 700;
    color: #a5aaad;
}

.main__cards{
    display:flex;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin:20px 130px;
}

.card{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    text-align: center;
    height: 70px;
    padding: 20px 30px 25px 30px;
    border-radius: 5px;
    background-color: #FFF;

    box-shadow:  5px 5px 13px #ededed, -5px -5px 13px #FFF;
}

.card_inner{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.card_inner > span{
    white-space: nowrap;
    margin-left:10px;
    font-size: 20px;
}

.card_inner > p{
    align-items: center;
    margin-left: 10px;
    
}

.card_inner > i{
    margin-left:0px;
}

.charts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;
    margin-top: 50px;
}

.charts__left{
    padding:25px;
    border-radius: 8px;
    background: rgb(232, 232, 232);
    box-shadow:5px 5px 13px #ededed, -5px -5px 13px #FFF;
}

.charts__left__title > div {
    display:flex;
    align-items: center;
    background-color: #3c3c3c;
    margin: -25px -25px 40px -25px;
    border-radius: 8px 8px 0 0px;
}

.charts__left__title > div >i{
    color: rgb(228, 227, 227);
    margin-left: 20px;
}

.charts__left__title > div > h1{
    font-size: 22px;
    color: rgb(228, 227, 227);
    margin-bottom: 4px;
    margin-top:4px;
    margin-left: 10px;
    align-items: center;
}

.charts__left__title > div> p{
    font-size: 13px;
    font-weight: 700;
    color: #a5aaad;
}

.charts__right{
    padding:25px;
    border-radius: 8px;
    background: rgb(232, 232, 232);
    box-shadow:5px 5px 13px #ededed, -5px -5px 13px #FFF;
}


.charts__right__title{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3c3c3c;
    margin: -25px -25px 40px -25px;
    border-radius: 8px 8px 0 0px;
}

.charts__right__title > div>  h1{
    font-size: 22px;
    color: rgb(228, 227, 227);
    margin-bottom: 4px;
    margin-top:4px;
    margin-left: 10px;
    align-items: center;
}
.charts__right__title > div{
    display: flex;
}

.charts__right__title > div> i{
    color: rgb(228, 227, 227);
    margin-top: 16px;
    margin-left: 20px;
     
}

.charts__right__cards{
   display:flex;
   margin-left: 30px;
}


@media screen and (max-width:360px) {
    .charts{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        gap:30px;
        margin-top: 50px;
        width: 300px;
    }
}

 