@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;70-&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* Estilização da scrollbars */
::-webkit-scrollbar{
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #a5aaad;
  border-bottom: 10px;
}

::-webkit-scrollbar-thumb{
  background: #3ea175;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #a5aaad;
}

/* Estilização gerais */

*{
  margin: 0;
  padding: 0;
  
}

.text-primary-p{
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}

.font-bold{
  font-weight: 700;
}

.text-title{
  color:#2e4a66;
}

.text-lightblue{
  color: #469cac;
}

.text-red{
  color:#cc3d38;
}

.text-yellow{
  color: #a98921;
}

.text-green{
  color: #3b9668;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh; /* Para ocupar toda a altura da tela */
}

.containera {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Centraliza horizontalmente */
  align-items: stretch; /* Centraliza verticalmente */
  width: 100vw; /* Para ocupar toda a largura da tela */
  height: 100vh; /* Para ocupar toda a altura da tela */
  overflow-y: auto;
  margin: 0;
  padding:0;
}
 
